/* Mobile  Version */

.faq{
    display: none;
}

/* Desktop Version */

@media(min-width: 60em){
    .faq{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5rem 0;
        background-color: var(--clr-Light5);
        gap: 1rem;
    }
    
    .faq__title{
        font-size: 2.5rem;
    }
    
    .faq__texte{
        color: var(--clr-Dark5);
    }
    
    .faq__question{
        
        width: 80%;
    }
    
    .faq__question{
        display: flex;
        align-items: center;
        background-color: var(--clr-Light8);
        box-shadow: 0px 3px 10px 2px var(--clr-Light6);
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem;
        width: 50rem;
        justify-content: space-between;
        font-weight: 800;
        cursor: pointer;
    }
}