/*CSS - Mobile version*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.news__card{
    width:80% ;
    border: 3 solid gray; 
    padding: 1rem;
    box-shadow: 0px 0px 3px 0px #888888;
    border-radius: 0.3rem;
}

.card__title{
    font-size: 1.5rem;
}

.card__interact{
    display: flex;
    flex-direction: column;
}

.card__email{
    padding: 0.5rem;
    margin: 2rem;
    border: 0;
    box-shadow: 0px 0px 3px 0px #888888;
    border-radius: 0.9rem;
    font-size: 0.7rem;
}

.card__sign{
    padding: 0.5rem 0.6rem;
    border-radius: 0.9rem;
    color: white;
    font-size: 0.5rem;
    background-color: var(--clr-vert);
}
/*CSS - Desktop version*/

@media(min-width:40rem){

    .news__card{
        padding: 0;
    }

    .card__title{
        padding-top: 3rem;
    }

    .card__interact{
        display: block;
    }

    .card__sign{
        font-size: 0.7rem;
    }

}