
body{
    font-family: var(--ff-sans);
}

.nav, .hero, .client, .content, .sub, .blog, .avis, .help, .faq, .footer{
    border-top: 1px solid var(--clr-Light6);
    border-bottom: 1px solid var(--clr-Light6);
    overflow: hidden;
}