.locaux-section {    
    background-color: var(--clr-light);
    box-sizing: border-box;
    padding: var(--locaux-padding);
}

.locaux-title {
    font-family: 'Lilita One', cursive;
    color: var(--clr-dark);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.locaux-flex-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.locaux-card {
    background: var(--clr-blue-light);
    padding: var(--locaux-padding);
    border-radius: 15px;
    overflow: hidden;
    flex: 1 1 auto;
}

/* Media query mobile-first */
@media (min-width: 40em) {
    .locaux-flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .locaux-card {
        width: calc(50% - 1rem);
        flex: 0 0 calc(50% - 1rem);
    }
}
