.preview {
    text-align: center;
}

.pre__bg {
    --_pre-bg : var(--pre-bgMobile);
    background-size: cover;
    background-position: center;
    padding: 6rem 1.5rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--_pre-bg) no-repeat center/cover;
}

.pre__text{
    --_clr-txt: var(--clr-txt);
    color: var(--_clr-txt);
}

.pre__new {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.pre__name {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.pre__texte {
    opacity: 0.7;
    max-width: 350px;
    margin-bottom: 2rem;
}

.pre__btn {
    --_clr-btn-bg: var(--clr-btn-bg);
    background-color: var(--_clr-btn-bg);
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-light);
}

@media (min-width: 40em) {
    .pre__bg {
        --_pre-bg : var(--pre-bgDesktop);
        align-items: flex-start;
        text-align: left;
        padding-left: 10%;
        background: var(--_pre-bg) no-repeat center/cover;
    }
}