<div class="avis__shared">
    <img class="avis__img" src="./assets/{{img}}.png" alt="{{img}}">
    <p class="avis__stars">
        <img class="avis__star" src="./assets/star.png" alt="star">
        <img class="avis__star" src="./assets/star.png" alt="star">
        <img class="avis__star" src="./assets/star.png" alt="star">
        <img class="avis__star" src="./assets/star.png" alt="star">
        <img class="avis__star" src="./assets/star.png" alt="star">
    </p>
    <p class="avis__texte">"{{texte}}"</p>
    <p class="avis__person"> - {{person}}</p>
</div>