/* Mobile  Version */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(var(--clr-blue) 0%, var(--clr-blue-light) 100%);
    padding-bottom: 3rem;
}

.hero__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img{
    margin: 1rem 0;
    width: 100%;
}

.hero__title{
    margin: 0 1rem;
    color: var(--clr-Dark4);
}

.hero__texte{
    margin: 0 1rem;
    color: var(--clr-Light1);
}

.hero__btn{
    display: flex;
    gap: 3rem;
}

.hero__btn1{
    background-color: var(--clr-green);
    color: var(--clr-Light8);
    font-weight: 500;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 0px 3px 10px 5px var(--clr-green-light);
}
.hero__btn2{
    background-color: var(--clr-Light7);
    font-weight: 500;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 0px 3px 10px 5px var(--clr-green-light);
}


/* Desktop Version */

@media(min-width: 40em){

    .hero{
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 5rem;
        background: linear-gradient(to right,var(--clr-blue) 0%, var(--clr-blue-light) 100%);
    }

    .hero__img{
        max-width: 20rem;
    }

    .hero__info{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        text-align: start;
        width: 30em;
    }

    .hero__btn{
        gap: 1rem;
    }

    .hero__btn1:hover{
        box-shadow: 0px 3px 20px 5px var(--clr-green);
        transition: .5s;
    }
    
    .hero__btn2:hover{
        box-shadow: 0px 3px 20px 5px var(--clr-green);
        transition: .5s;
    }

}