<div class="footer__top">{{sections}}</div>
<div class="footer__section__end">
    <div class="footer__imgContainer">
        <img class="footer__img" src="./assets/facebook.png" alt="facebook">
        <img class="footer__img" src="./assets/x.png" alt="x">
        <img class="footer__img" src="./assets/instagram.png" alt="instagram">
        <img class="footer__img" src="./assets/linkedin.png" alt="linkedin">
    </div>
    <p class="footer__footer">ⓒ 2025 Launchly. All rights reserved.</p>
</div>