/*CSS - Mobile version*/
.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: url(../../assets/mer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__bg{
    background-color: rgba(47, 24, 147,0.5);
    padding: 2rem;
    width: 100%;
}

.hero__h2{
    font-size: 0.6rem;
}
.hero__h1{
    font-size: 1rem;
}
.hero__p{
    font-size: 0.5rem;
}
/*CSS - Desktop version*/
@media(min-width:40rem){
    .hero__bg{
        padding: 4rem;
    }
    .hero__h1{
        font-size: 2rem;
    }
    .hero__p{
        font-size: 0.5rem;
    }
}